#homebooknow {
  height: 600px;
  background-color: #ffffff;
  color: #0f0a59;
  text-align: center;
  padding: 28px;
}

#classestext {
  width: 600px;
}

#booknowcontainer {
  display: flex;
  justify-content: space-around;
}
