#homesplash {
  margin-top: 64px;
  width: 100%;
  height: 600px;
  background-color: #f24423;
  color: #ffffff;
  text-align: left;
  padding: 28px;
  padding-right: 0;
}

#logo {
  position: relative;
  width: 250px;
  height: 53px;
  margin: 24px 0px;
}

#splashtext {
  width: 454px;
}

#proteincontainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 700px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#proteingraphic {
  width: 700px;
  height: 491px;
}

#splashcontainer {
  margin: 100px;
  width: 40%;
  z-index: 5;
}
