#homefindoutmore {
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  color: #0f0a59;
  text-align: left;
  padding: 28px;
}

#allfor1 {
  font-size: 56px;

  letter-spacing: 5px;
}

#fomcontainer {
  margin: 100px;
  display: flex;
  justify-content: space-between;
}

#meetheadcoach {
  margin: 64px 32px;
}

/* #splashtext {
  font-family: "P22 Underground Light", sans-serif;
} */
