button {
  font-family: "P22 Underground Light", sans-serif;
  letter-spacing: 2px;
  background-color: transparent;
  border-style: none;
  height: 60px;
  font-size: 16px;
  color: #0f0a59;
  padding: 0px 24px;
  margin: 0;
}

button:active {
  outline: none;
}

#whitetext {
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  button {
    font-size: 12px;
    padding: 0px 8px;
  }
}

@media screen and (max-width: 800px) {
  button {
    font-size: 10px;
    padding: 0px 6px;
  }
}
