#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 64px;
  background-color: #f24423;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  z-index: 20;
}

@media screen and (max-width: 1000px) {
  #navbar {
    padding-right: 12px;
    justify-content: space-evenly;
  }
}
