#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: #f24423;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  z-index: 20;
}
