.App {
  text-align: center;
  font-family: "P22 Undergound Thin", sans-serif;
  width: 100%;
}

h1 {
  font-family: Tremble, sans-serif;
}

h2 {
  font-family: "Gilroy Light", Helvetica, Arial, Lucida, sans-serif;
  font-size: 24px;
  line-height: 1.3em;
  margin: 24px 0px;
}

h3 {
  font-family: "P22 Underground Light", sans-serif;
}

p {
  font-size: 24px;
  line-height: 1.4em;
  font-family: "Gilroy Light", sans-serif;
}

@media only screen and (max-width: 1000px) {
  h1 {
  }

  h2 {
  }

  h3 {
  }

  p {
    font-size: 20px;
  }

  #proteincontainer {
    visibility: hidden;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
  }

  h2 {
    font-size: 20px;
  }

  h3 {
  }

  p {
    font-size: 18px;
  }
}
